{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div id="searchArea">
    <form action="{% url 'test1' %}" method="post">
        {% csrf_token %}
        <div class="main-container-check container">
            <div class="row row-cols-auto">
                <h2 style="margin: 0 auto;">エリアを選択</h2>
                <div class="check-buttons col" style="border-bottom: 1px solid #3c4c46; border-radius: 30px;"
                    id="city_area">
                </div>
            </div>
        </div>

        <div class="main-container" style="margin-top: 100px;">
            <h2>どこにいく？</h2>
            <div class="radio-buttons">
                <label class="custom-radio">
                    <input type="radio" name="place" value="play" checked />
                    <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                            <!-- <i class="las la-biking"></i> -->
                            <!-- <i class="las la-circle"></i> -->
                            <i class="las la-map"></i>
                            <h3>観光</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-radio">
                    <input type="radio" name="place" value="cafe" />
                    <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                            <!-- <i class="las la-table-tennis"></i> -->
                            <i class="las las-light la-mug-hot"></i>
                            <h3>カフェ</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-radio">
                    <input type="radio" name="place" value="eat" />
                    <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                            <!-- <i class="las la-table-tennis"></i> -->
                            <i class="las la-solid la-utensils"></i>
                            <h3>ご飯</h3>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary" id="searchButton">検索&nbsp;<i
                class="bi bi-search"></i></button>
    </form>
</div>

<script src="{% static 'js/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/prefectureIndex.js' %}"></script>
{% endblock %}